/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
.container {
margin:0;
}

.row {
width:100%;
background:#FFF;
max-width:1140px;
min-width:755px;
margin:0 auto;
overflow:hidden;
}
.row-first {
padding-top:3px;
}
.row-last {
padding-bottom:3px;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
float:left;
}

.row .col1 {
width:8.33%;
}

.row .col2 {
width:16.66%
}

.row .col3 {
width:25%
}

.row .col4 {
width:33.33%
}

.row .col5 {
width:41.65%;
}

.row .col6 {
width:50%;
}

.row .col7 {
width:58.31%;
}

.row .col8 {
width:66.66%;
}

.row .col9 {
width:75%;
}

.row .col10 {
width:83.33%;
}

.row .col11 {
width:91.63%;
}

.row .col12 {
width:100%;
}

.last {
margin-right:0px;
}

.embedded, object, embed {
max-width:100%;
}

img {
height:auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

    body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
    }
	
    .row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
    }
	
    .row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6, .row .col7, .row .col8, .row .col9, .row .col10, .row .col11, .row .col12 {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
    }

    #item-list {
        background:#ccc;
        height:86px;
        overflow:scroll;
        overflow-y:scroll;
        border:3px solid #222;
    }
    .tab-bar {
        padding-left:2px;
    }
    .tab {
        background:#000;
        float:left;
        list-style:none;
        margin:0px;
        font-size:18px;
        color:#fff;
        text-decoration:none;
        text-transform:capitalize;
        padding:6px;
        text-align:left;
        cursor:pointer;
        -webkit-border-radius:0px 0px 0 0;
        -moz-border-radius:0px 0px 0 0;
        border-radius:0px 0px 0 0;
    }
    .tab-active {
        color:#fff;
        border:0;
    }
    #item-holder {
        margin-right:0px;
    }
    

}
